body
{
    font-family: Meriyo;
}

#site-box
{
    //background: #eeeeee;
    width: 800px;
    height: 680px;
    margin: 5px auto;
}

#title
{
    //background: pink;
    height: 110px;
}

#description
{
    font-size: 20px;
    height: 28px;
    //background: lightblue;
    position: relative;
    top: 40px;
}

#menu
{
    float: left;
    width: 600px;
    height: 450px;
    position: relative;
    top: 41px;
    //background: lightgreen;
}

#update
{
    //background: orange;
    float: left;
    width: 200px;
    height: 100px;
    position: relative;
    top: 338px;
}

#back
{
    //background: blue;
    clear: left;
    height: 60px;
    width: 200px;
    position: relative;
    top: -15px;
    left: 300px;
}

h1
{
    font-size: 40px;
    position: relative;
    top: 50px;
}

#name
{
    width: 300px;
}

#about
{
    width: 500px;
    height: 350px;
    overflow: auto;
}

dt
{
    font-size: 20px;
    position: relative;
    left: 20px;
}

#update_button
{
    width:120px;
    height:1.5em;
    font-size: 30px;
    position: relative;
    top: 30px;
}

#back_button
{
    width:120px;
    height:1.5em;
    font-size: 30px;
}

#image
{   
    position: relative;
    top: -480px;
    left: 300px;
}

#photo
{
    position: relative;
    right: 20px;
    top: -5px;
}

#sent_button
{
    font-size: 20px;
    width: 120px;
    height: 2em;
    position: relative;
    top: 5px;
}
